.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
}

.pageHeader {
  text-align: center;
  margin-bottom: 1rem;
}

.title {
  margin-bottom: 0.5rem;
  color: #B5A7F0;
  font-size: 2rem;
  font-weight: 700;
}

.subtitle {
  color: #FFF;
  font-size: 1.2rem;
}

.tableContent {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
  border: 1px solid #4A4458;
  border-radius: 0.75rem;
  background-color: #4A4458;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.input {
  max-width: 24rem;
  padding: 0.5rem 0.75rem;
  border-radius: 0.375rem;
  color: #ffffff;
  font-size: 0.875rem;
  background: transparent;
  border: 1px solid #2C2638;
}

.input::placeholder {
  color: #ffffff;
}

.input:focus {
  border-color: #B5A7F0;
  outline: none;
  box-shadow: 0 0 0 2px #B5A7F0;
}

.button {
  margin-left: auto;
  color: #FFF;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.2s ease;
  border: 1px solid #2C2638;
  background-color: transparent;
}

.button:hover {
  border-color: #B5A7F0;
}

.dropdownContent {
  border: 1px solid #2C2638;
  border-radius: 0.375rem;
  background-color: #4A4458;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.dropdownItem {
  width: 100%;
  color: #FFF;
  cursor: pointer;
  border: none;
  background: transparent;
  transition: all 0.2s ease;
  text-transform: capitalize;
}

.dropdownItem:hover {
  outline: none;
  color: #B5A7F0;
  background-color: rgba(181, 167, 240, 0.1);
}

.tableWrapper {
  overflow-x: auto;
  border-radius: 0.5rem;
  border: 1px solid #2C2638;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table thead tr:hover {
  background-color: #4A4458;
}

.table thead th {
  text-align: left;
  padding: 0.75rem 1rem;
  color: #B5A7F0;
  font-weight: 600;
  border-bottom: 1px solid #2C2638;
}

.table tbody tr {
  color: #FFF;
}

.table tbody tr:not(:last-child) {
  border-bottom: 1px solid #2C2638;
}

.table tbody tr:hover {
  color: #B5A7F0;
  background-color: rgba(181, 167, 240, 0.1);
}

.table tbody td {
  padding: 0.9rem 1rem;
}

.cellPrimary {
  font-weight: 600;
}

.pagination {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  justify-content: flex-end;
}

.paginationButton {
  color: #FFF;
  cursor: pointer;
  transition: all 0.2s ease;
  border: 1px solid #2C2638;
  background-color: transparent;
}

.paginationButton:hover {
  border-color: #B5A7F0;
}
