.checkbox {
  width: 24px;
  height: 24px;
}

.checkbox[data-state="checked"] {
  color: #2C2638;
  border-color: #FFF;
  background-color: #FFF;
}

.checkbox svg {
  width: 1.25rem;
  height: 1.25rem;
  stroke-width: 4;
}
