.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.heroSection {
  text-align: center;
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.authSection {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
