.authWrapper {
  width: 100%;
  max-width: 36rem;
  padding: 0.75rem;
  border: none;
  box-shadow: none;
  background-color: transparent;
}

.link {
  color: #B5A7F0;
}

.link:hover {
  color: #FFF;
}

.input {
  padding: 1.75rem;
  color: #FFF;
  box-shadow: none;
  border-radius: 0.375rem;
  background-color: #3C364C;
  border: 1px solid transparent;
}

.input:focus {
  outline: none;
  border-color: #B5A7F0;
}

.input::placeholder {
  color: #767384;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.07em;
}

.input.error {
  border-color: #F36D97;
}

.errorMessage {
  color: #F36D97;
  letter-spacing: 0.07em;
}

.eyeButton {
  color: #767384;
  position: absolute;
  top: 50%;
  right: 1.5rem;
  transform: translateY(-50%);
}

.eyeButton:hover {
  color: #FFF;
}

.checkbox {
  width: 24px;
  height: 24px;
}

.checkbox[data-state="checked"] {
  color: #2C2638;
  border-color: #FFF;
  background-color: #FFF;
}

.checkbox svg {
  width: 1.25rem;
  height: 1.25rem;
  stroke-width: 4;
}

.submitButton {
  width: 100%;
  padding: 1.75rem;
  border-radius: 0.375rem;
  color: #FFF;
  font-size: 1.125rem;
  line-height: 1.75;
  cursor: pointer;
  background-color: #6D54B5;
  transition: background-color 0.2s ease;
}

.submitButton:hover {
  background-color: #5D45A3;
}

.divider {
  width: 100%;
  color: #767384;
  font-size: 0.875rem;
  line-height: 1.25;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: #767384;
}

.iconButton {
  flex: 1;
  padding: 1.75rem;
  border-radius: 0.375rem;
  border: 1px solid #767384;
  color: #FFF;
  font-size: 1.125rem;
  line-height: 1.75;
  cursor: pointer;
  background-color: #2C2638;
  transition: border-color 0.2s ease;
}

.iconButton:hover {
  border-color: #B5A7F0;
}

.icon svg {
  width: 22px;
  height: 22px;
}
